/*
----------------------------------
Status Configuration
----------------------------------
*/

.status-progress-flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	font-family: var(--poppins);	
}

.status-progress-flex-each{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 20rem;
	height: auto;
	margin: 2rem;
	padding: 40px 0;
	border-radius: 20px;
	transition: all 0.2s ease-in-out;
	

	background: linear-gradient(308deg, rgba(255,255,255,0) 30%, rgba(237,237,237,1) 100%);
	box-shadow: 0 0px 30px rgba(0, 0, 0, 0.07);
}

.status-progress-flex-each:hover {
	transition: all 0.2s ease-in-out;

}

.status-progress-flex-each-title {
	color: var(--black);
	font-size: 1.6rem;
	margin:0;
}

.status-progress-flex-each-desc {
	color: var(--black);
	font-size: 1rem;
	margin: 0;
}

.system-spec {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.system-table {
	width: 50%;
	padding: 1rem 0.4rem;
}

.system-table table {
	border-collapse: collapse;
	width: 100%;
	font-family: var(--poppins);
}

.system-table tr:nth-child(even) { 
	background-color: white;
}

.system-table tr:nth-child(odd) { 
	background-color: var(--yellow3);
}

.system-table td {
	border: 1px solid var(--yellow1);
	padding: 8px;	
}

.system-table th {
	border: 1px solid var(--yellow1);
	padding: 8px;	
	background-color: var(--yellow2);
	text-align: left;
}

/* Status Banner */

.system-banner {
	margin: 0 auto;
	width: calc(100% - 0.8rem);
}

.system-banner-each {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    margin: 0.4rem;
	padding: 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(308deg, rgba(155,155,155,1) 30%, rgba(237,237,237,1) 100%);
    box-shadow: 0 0px 30px rgb(0 0 0 / 7%);
}

.battery-top {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: calc(100% - 5px);
	height: 3rem;
	background-color:black;
	padding: 5px;
}

.battery-bottom {
	background-color: black;
	border-radius: 0 10px 10px 0;
	height: 20px;
	width: 5px;
}

.battery-bar {
	display: flex;
	align-items:center;
	justify-content:center;
	border-radius: 5px;
	height: 100%;
	font-family: var(--poppins);
}

/*
----------------------------------
Progress Bars Configuration
----------------------------------
*/

.progress {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: var(--primary);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
	background: linear-gradient(308deg, rgba(255,255,255,0) 30%, rgba(237,237,237,1) 100%);
    text-align: center;
    line-height: 200px;
    margin: 20px
}

@keyframes progress {
	0% { --percentage: 0; }
	100% { --percentage: var(--value); }
}

@property --percentage {
	syntax: '<number>';
	inherits: true;
	initial-value: 0;
}

[role="progressbar"] {
	--percentage: var(--value);
	--primary: var(--yellow1);
	--secondary: var(--snowy);
	--size: 100%;
	animation: progress 2s 0.5s forwards;
	width: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
}

[role="progressbar"]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
	mask: radial-gradient(white 55%, transparent 0);
	mask-mode: alpha;
	box-shadow: 0 0px 30px rgba(0, 0, 0, 0.07);
	-webkit-mask: radial-gradient(#0000 55%, #000 0);
	-webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
	counter-reset: percentage var(--value);
	content: counter(percentage) '%';
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: var(--black);
}


/*
----------------------------------
Tasks Configuration
----------------------------------
*/

.tasks-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.tasks-each {
	width: 100%;
	clear: right;
	position: relative;
	border-radius: 10px;
	border: 1px solid var(--snowy);
	box-shadow: 0px 2px 5px 0px var(--light-shadow);
	background: linear-gradient(200deg, rgba(0,0,0,0.1) 30%, rgba(255,255,255,1) 100%);
}

.tasks-each {
	margin: 1rem 0;
}

.tasks-each:first-child {
	margin: 0 0 1rem 0 !important;
}

.tasks-each-banner{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 10px 20px;
	
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	background-color: var(--yellow1);
}

.tasks-each-banner img {
	width: 2rem;
}

.tasks-each-banner-sub {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;	
}

.tasks-each-link {
	font-family: var(--poppins);	
	background-color: var(--yellow3);
	border-radius: 6px;
	padding: 4px 10px;
	text-align: center;
	margin: 10px auto;
	width: 10rem;
	box-shadow: 0px 3px 0px 0px var(--light-shadow);
	transition: all 0.2s ease-in-out;
}

.tasks-each-link:hover {
	transform: translateY(3px);
	box-shadow: 0px 0px 0px 0px var(--light-shadow);
	transition: all 0.2s ease-in-out;
}

.tasks-each-content {
	padding: 10px;
	overflow: auto;
}

.tasks-each-content p {
	margin: 0;
}

.tasks-each-title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 0;
	flex-grow: 5;
	padding-left: 20px;
	font-family: var(--poppins);
}

.tasks-each-timestamp {
	text-align: right;
	flex-grow: 5;
	margin:0;
	font-family: var(--poppins);
}

.tasks-each-subtitle {
	font-family: var(--montserrat);
}

.tasks-each-description {
	font-family: var(--poppins);
}
				
.tasks-each-image {
	float: right;
	border-radius: 10px;
	max-width: 8rem;
	max-height: 8rem;
}

/* Subtasks */

.subtasks-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	position: relative;
}

.subtasks-each {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	padding: 10px;
	margin: 10px;
	max-width: 10rem;
	min-width: 8rem;
	height: auto;
	position: relative;
	border-radius: 10px;
	font-family: var(--poppins);
	background: linear-gradient(200deg, rgba(0,0,0,0.02) 40%, rgba(255,255,255,1) 100%);
	border: 1px solid var(--snowy);
}

.subtasks-each-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.subtasks-each-banner img {
	width: 1rem;
	height: 1rem;
	margin-right: 6px;
}

.subtasks-each-title {
	font-weight: bold;
}

.subtasks-each-timestamp {
	font-size: 0.8rem;
}

.subtasks-each-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
								
.subtasks-each-subtitle {
	
}

.subtasks-each-link {
	font-family: var(--poppins);	
	background-color: var(--yellow3);
	border-radius: 6px;
	padding: 4px 10px;
	text-align: center;
	margin: 10px 0;
	box-shadow: 0px 3px 0px 0px var(--light-shadow);
	transition: all 0.2s ease-in-out;
}

.subtasks-each-link:hover {
	transform: translateY(3px);
	box-shadow: 0px 0px 0px 0px var(--light-shadow);
	transition: all 0.2s ease-in-out;
}

.subtasks-each-image {
	max-width: 4rem;
	height: 4rem;
	border-radius: 10px;
	margin-top: 4px;
}

/* Adding Tasks */

.tasks-add{
	border: 1px solid var(--snowy);
	box-shadow: 0px 2px 5px 0px var(--light-shadow);
	border-radius: 10px;
	margin-bottom: 2rem;
	padding: 10px;
}

.tasks-background {
	background:url("../img/config/addsubtask.png");
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: right bottom;
}

.tasks-add-banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 14px;
}

.tasks-add-banner img {
	width: 36px;
	padding-right: 10px;
}

.tasks-add-banner input {
	width: calc(100% - 5px);
	padding: 2px;
	line-height: 1.4rem;
	border: 0;
	border-bottom: 1px solid var(--yellow3);
	transition: all 0.2s ease-in-out;
	font-family: var(--poppins);	
}

.tasks-add-banner input:focus{
    outline: none;
	border-bottom: 1px solid var(--yellow1);
	transition: all 0.2s ease-in-out;
}

.tasks-add-banner input:first-child {
	margin-right: 10px;
}

.tasks-add-banner input:last-child {
	margin-left: 10px;
}

.tasks-add textarea {
	padding: 4px;
	margin-bottom: 10px;
	width: calc(100% - 2px);
	font-family: var(--poppins);	
	border: 0;
	border-radius: 10px;
	border: 1px solid var(--yellow3);
	transition: all 0.2s ease-in-out;
	background: transparent;
}

.tasks-add textarea:focus{
    outline: none;
	transition: all 0.2s ease-in-out;
	border: 1px solid var(--yellow1);
}

#taskstatus, #timertype, #timerRutinary, #timerOcasional {
	padding: 4px;
	font-family: var(--poppins);	
	border: 0;
	border-radius: 10px;
	border: 1px solid var(--yellow3);
	transition: all 0.2s ease-in-out;
}

#taskstatus, #timertype, #timerRutinary, #timerOcasional:focus{
	border: 1px solid var(--yellow1);
	transition: all 0.2s ease-in-out;
    outline: none;
}

.task-add option {
	border: 1px solid var(--yellow3);
}

.task-add option:first-child {
	border-radius: 4px 4px 0 0;
}

.task-add option:last-child {
	border-radius: 4px 4px 0 0;
}

.tasks-add form input[type="submit"] {
	padding: 4px 10px;
	font-family: var(--poppins);	
	border: 0;
	border-radius: 4px;
	border: 1px solid var(--yellow1);
	background-color: var(--yellow3);
	cursor: pointer;
}

/* Sort Tasks */

.tasks-sort{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	
	font-family: var(--poppins);
	border: 1px solid var(--snowy);
	box-shadow: 0px 2px 5px 0px var(--light-shadow);
	border-radius: 10px;
	margin-bottom: 2rem;
	padding: 10px;
}

.tasks-sort p {
	margin:0;
}

.tasks-sort i {
	font-size: 26px;
	color: var(--yellow1);
	width: 36px;
	padding-right: 10px;
}

.tasks-sort-radio-title {
	font-weight: bold;
	font-size: 1.4rem;
	padding-right: 1rem;
}

.tasks-sort-radio1, .tasks-sort-radio2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding-right: 2rem;
}

.tasks-sort-radio1 img {
	height: 1.3rem;
	width: 1.3rem;
	transform: translateY(4px);
}

.tasks-sort-radio1 [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.tasks-sort-radio1 [type=radio] + img {
	cursor: pointer;
	margin: 0 0.2rem;
}

.tasks-sort-radio1 [type=radio]:checked + img {
	outline: 2px solid var(--yellow1);
	border-radius: 50%;
}

.tasks-sort-radio2 [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.tasks-sort-radio2 [type=radio] + p {
	cursor: pointer;
	margin: 0 0.2rem;
	padding: 0 0.1rem;
}

.tasks-sort-radio2 [type=radio]:checked + p {
	outline: 2px solid var(--yellow1);
	border-radius: 4px;
}

.tasks-sort-radio2 input[type="submit"] {
	padding: 4px 10px;
	font-family: var(--poppins);	
	border: 0;
	border-radius: 4px;
	border: 1px solid var(--yellow1);
	background-color: var(--yellow3);
	margin-left: 1rem;
	cursor: pointer;
}

.tasks-sort-checked-round {
	outline: 2px solid var(--black);
	border-radius: 50%;
}

.tasks-sort-checked-square {
	outline: 2px solid var(--black);
	border-radius: 4px;	
}

/* Delete Task */

.tasks-delete {
	width: 2rem;
	height: 2rem;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.tasks-delete form input[type=submit] {
	background:url("../img/config/trash.png");
	background-repeat: no-repeat;
	background-size: 2rem 2rem;
	border: 0;
    display: block;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.tasks-delete-value {
	display: none;
}

.tasks-edit {
	width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 5px;
    right: calc(2rem + 10px);
}

.tasks-edit form input[type=submit] {
	background:url("../img/config/edit.png");
	background-repeat: no-repeat;
	background-size: 2rem 2rem;
	border: 0;
    display: block;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.tasks-edit-value {
	display: none;
}

/* Adding Subtasks */

.subtasks-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    max-width: 10rem;
    height: auto;
    position: relative;
    border-radius: 10px;
    font-family: var(--poppins);
	background:url("../img/config/addsubtask.png");
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: center;
	border: 1px solid var(--snowy);
}

#subtasktitle {
	border-radius: 4px 4px 0 0;
}

#subtasksubtitle {
	border-radius: 0 0 4px 4px;
}

.subtasks-add form input {
	width: 100%;
    padding: 2px;
    line-height: 1.4rem;
    border: 0;
    border-bottom: 1px solid var(--yellow3);
    transition: all 0.2s ease-in-out;
    font-family: var(--poppins);
}

.subtasks-add form input:focus {
    outline: none;
    border-bottom: 1px solid var(--yellow1);
    transition: all 0.2s ease-in-out;
}

#subtaskstatus {
    padding: 4px;
    font-family: var(--poppins);
    border: 0;
	width: 100%;
    border-radius: 10px;
    border: 1px solid var(--yellow3);
    transition: all 0.2s ease-in-out;
	margin: 5px 0;
}

#subtaskstatus:focus {
    border: 1px solid var(--yellow1);
    transition: all 0.2s ease-in-out;
    outline: none;
}

.subtasks-add form input[type="submit"] {
    padding: 2px 5px;
    font-family: var(--poppins);
    border: 0;
    border-radius: 4px;
    border: 1px solid var(--yellow1);
    background-color: var(--yellow3);
    cursor: pointer;
}	

/* Deleting Subtasks */

.subtasks-delete {
	width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.subtasks-delete-value{
	display: none;
}

.subtasks-delete form input[type="submit"] {
	background: url("../img/config/trash.png");
    background-repeat: no-repeat;
    background-size: 1.4rem 1.4rem;
    border: 0;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

.subtasks-edit {
	width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    bottom: 2px;
    right: calc(1.4rem + 4px);
}

.subtasks-edit-value{
	display: none;
}

.subtasks-edit form input[type="submit"] {
	background: url("../img/config/edit.png");
    background-repeat: no-repeat;
    background-size: 1.4rem 1.4rem;
    border: 0;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

/*
----------------------------------
Timer Configuration
----------------------------------
*/

.timer-background {
	background:url("../img/config/clock.png");
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: right bottom;
}

#timerOcasional {
}

#timerRutinary {
	display: none;
}

.tasks-each-content-timer{
	padding: 10px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.tasks-each-content-timer p{
	margin: 0;
}

.timer-each-remain {
	text-align: center;
    font-family: var(--poppins);
	font-size: 1.4rem;
}

/*
----------------------------------
Weather Configuration
----------------------------------
*/

.weather-flex {
	display: flex;
	vertical-align: top;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.weather-each {
	width: 10rem;
	height: 14rem;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	margin: 1rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.weather-each p {
	margin: 0;
	font-family: var(--poppins);
}

.weather-each-banner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3.4rem;
}

.weather-each-day {
	font-size: 0.8rem;
}

.weather-each-date {
	text-align: center;
	font-family: var(--montserrat);
	font-size: 1.2rem;
}

.weather-each-temp{
	text-align: center;	
	font-weight: bold;
	font-size: 1.7rem;
	line-height: 0;
}

.weather-each-location {
	text-align: center;		
}

.weather-each-spec{
	display: flex;
	flex-direction: row;
	align-items: center;
} 	

.weather-each-spec-each{
	width: 3.3rem;
}

.weather-each-spec-title {
	text-align: center;
	font-size: 0.6rem;
}

.weather-each-spec-desc {
	text-align: center;
	font-size: 0.8rem;
}

.weather-each-spec-desc span {
	font-size: 0.5rem;
}

/* Variations */

.weather-each.weather-day-back {
	background: linear-gradient(200deg, rgba(0,0,0,0.1) 30%, rgba(255,255,255,1) 100%);
	border: 1px solid var(--snowy);
	box-shadow: 0px 2px 5px 0px var(--light-shadow);
}

.weather-each.weather-day-back:first-child {
	box-shadow: 0px 2px 7px 1px rgba(145, 220, 255, 1);
}

.weather-each.weather-day-back p {
	color: black;
}

.weather-each.weather-night-back {
	background: linear-gradient(200deg, rgba(25,25,30,1) 30%, rgba(43,46,53,1) 100%);
	border: 1px solid var(--black);
	box-shadow: 0px 2px 5px 0px var(--hover);
}

.weather-each.weather-night-back:first-child {
	box-shadow: 0px 2px 7px 2px rgba(25, 83, 111, 1);
}

.weather-each.weather-night-back p {
	color: white;
}

/* Status Variations */

.weather-rain {
	color: #97CCD8 !important;
}

.weather-clouds {
	color: #D6D6D6 !important;
}

.weather-thunder {
	color: #688AE5 !important;
}

/* Wind Variations */

.weather-low {
	color: #53C475 !important;
}

.weather-medium {
	color: #f2c311 !important;
}

.weather-high {
	color: #E8757D !important;
}

/* SVG Background */

.weather-each-svg {
    position: absolute;
	z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
	border-radius: 0 0 10px 10px;
}

.weather-each-svg svg {
    position: relative;
    width: 600%;
    height: 6rem;
}

.weather-each-svg .weather-day {
    fill: var(--yellow2);
}

.weather-each-svg .weather-night {
    fill: #353944;
}

/*
----------------------------------
Settings Configuration
----------------------------------
*/

.setting-flex {
	display: flex;
	flex-direction: column;
}

.setting-each {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding: 10px 14px;
	margin: 10px 0;
	width: 100%;
	height: auto;
	position: relative;
	border-radius: 10px;
	font-family: var(--poppins);
	background: linear-gradient(200deg, rgba(0,0,0,0.02) 40%, rgba(255,255,255,1) 100%);
	border: 1px solid var(--snowy);
}

.setting-each h2 {
	margin: 0;
}

.setting-each:first-child {
	margin-top: 0 !important;
}

/* Material Toggle */

.setting-each form input[type="submit"]{
	display: none;
}

.pure-material-apply span {
    font-size: 1.5em;
    line-height: 1;
	cursor: pointer;
    transition: all 0.2s ease-in-out;
	background-color: var(--yellow3);
	border-radius: 10px;
	padding: 0.25em;
}

.pure-material-apply span:hover {
	color: white;
	background-color: var(--hover);
    transition: all 0.2s ease-in-out;
}

.pure-material-switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 1.5em;
    line-height: 1.5;
	transform: translateY(3px);
	margin-right: 10px;
}

.pure-material-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -4px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

.pure-material-switch > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.pure-material-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

.pure-material-switch > span::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

.pure-material-switch > input:checked {
    right: -10px;
    background-color: rgb(var(--pure-material-primary-rgb, 242, 205, 102));
}

.pure-material-switch > input:checked + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 242, 205, 102), 0.6);
}

.pure-material-switch > input:checked + span::after {
    background-color: rgb(var(--pure-material-primary-rgb, 242, 205, 102));
    transform: translateX(16px);
}

.pure-material-switch:hover > input {
    opacity: 0.04;
}

.pure-material-switch > input:focus {
    opacity: 0.12;
}

.pure-material-switch:hover > input:focus {
    opacity: 0.16;
}

.pure-material-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-switch > input:active + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}

.pure-material-switch > input:checked:active + span::before {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-switch > input:disabled {
    opacity: 0;
}

.pure-material-switch > input:disabled + span {
    color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    opacity: 0.38;
    cursor: default;
}

.pure-material-switch > input:disabled + span::before {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-switch > input:checked:disabled + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.6);
}
